div.container {
  width: 95%;
  margin: 0 auto;
}

div.layout-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
  padding: 20px 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

html.dark {
  /* font: 90%/1.5em system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif !important; */
  /* position: relative; */
  background-color: #212529;
  color: #dae0e7;
}

.theme-toggle-container {
  display: flex;
  justify-content: flex-end;
}

#theme-toggle:focus {
  outline: none;
  box-shadow: none;
}