div.container {
  width: 95%;
  margin: 0 auto;
}

div.layout-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
  padding: 20px 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
